

body {
        background-image: url('./Photos/StarSky.jpg');
        background-size: cover; 
        /* Змінюємо розмір фону, щоб він покривав всю сторінку */
        background-repeat: no-repeat; 
        /* Вимикаємо повторення фону */
        background-attachment: fixed; 
        /* Фіксуємо фон при прокручуванні сторінки */
}
/* По ID */
#tg{color:rgb(0, 206, 209);
        font-family: 'Playpen Sans', sans-serif;
        font-size: 25px}
#inst{color:rgb(255, 20, 147);
        font-family: 'Playpen Sans', sans-serif;
        font-size: 25px}
/*  По Label */
Label{font-size: 35px;
        color:rgba(222, 224, 255, 0.91);} 
        Label{font-family: 'Agbalumo', sans-serif;}
/* По класах */
.list{color:rgb(140, 229, 231);
        font-family: 'Agbalumo', sans-serif;
        font-size: 25px;}

/* Для всього */
*{font-size: 20px;
    font-family: 'Playpen Sans', sans-serif;
    color:rgb(222, 224, 255);}
    